---
import { CollectionEntry, getCollection } from "astro:content";
import MembersCard from "~/components/partials/MembersCard.astro";
import SearchAndStatus from "~/components/partials/SearchAndStatus.astro";

import { Constants } from "~/types"; 
import HeroSection from "~/components/partials/HeroSection.astro"
import Layout from "~/layouts/Layout.astro";

const keywords = [
  "members"
]
const title = `Members | ${Constants.SITENAME}`

const members:CollectionEntry<"members">[] = await getCollection("members")

--- 
<Layout title={ title } keywords={keywords}>
  <HeroSection
    header="Member Directory"
    showCta={false}
    subline="Explore the list of our member bodies" />
  <div class="center flex flex-col gap-2 items-center">
    <SearchAndStatus count={members.length} name="members" />
    <div class="card-grid">
      { members.map(member => <MembersCard member={member}  />) }
    </div>
  </div>
</Layout> 