---
import HeroSection from '~/components/partials/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import { Constants } from '~/types'
import ButtonLink from '~/components/partials/ButtonLink.astro';
import MembersList from '~/components/partials/MembersList.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
// import { Image } from "astro:assets"
// import ButtonLink from '~/components/partials/ButtonLink.astro';

const allMembers: CollectionEntry<"members">[] = await getCollection("members")
const members = allMembers.slice(0,4)

const keywords = [
	"homepage",
	"apbn",
	"association"
]

const title = `Home | ${Constants.SITENAME}`
// const president = "/images/president_square.webp"
---

<Layout title={title} keywords={keywords}>
  <HeroSection
    header="APBN"
    showCta={true}
    subline="Uniting voices and providing expert advice to the Government on matters impacting professionals and their practices." />
  
	<section aria-label="members">
		<div class="center flex flex-col gap-2 justify-center items-center">
			<div class="text-center mb-4">
				<h2 aria-label="ourprograms title" class="text-xl font-semibold uppercase">
					Member Bodies
				</h2>
				<p>List of the {allMembers.length}-Member Body in APBN</p>
			</div>
			<MembersList members={members} />
			<ButtonLink className="btn btn-orange dark:btn-white text-center self-center w-full sm:w-fit" title="see all member bodies" href="/members" type="link" />
		</div>
	</section>
</Layout>