---
import { getCollection, type CollectionEntry } from "astro:content";
import { Constants } from "~/types";
import ButtonLink from "./ButtonLink.astro";
import Countdown from "./Countdown.astro";
import { ftDate } from "~/lib";

const allSliders: CollectionEntry<"sliders">[] = await getCollection("sliders")
const slider = allSliders
.filter(slider => slider.data.active)
.filter(slider => slider.data.type === Constants.APBN)[0]

const style = `background: url(${slider.data.image}) no-repeat;background-size: cover; background-position: center`
---

{
  slider && (
    <section>
      <div class="my-4 md:my-0 md:center grid grid-cols-1 md:grid-cols-2 gap-2 md:aspect-[1920/400] md:min-h-[268px]">
        <div class="w-full h-full aspect-[1326/602] md:aspect-[1920/400]" style={style}></div>
        <div aria-label="details" class="flex flex-col gap-4 p-4 md:p-2">
          {
            slider.data.theme && (
              <div class="leading-[1.1] w-full text-center md:text-start">
                <h3 class="text-sm font-semibold">Theme:</h3>
                <p class="one-line">{slider.data.theme}</p>
              </div>
            )
          }  
          <div class="grid grid-cols-1 place-items-center md:place-items-start text-center md:text-start md:grid-cols-2 gap-4 items-center">
            {
              slider.data.host && (
                <div class="leading-[1.1] w-full">
                  <h3 class="text-sm font-semibold">Host:</h3>
                  <p class="one-line">{slider.data.host}</p>
                </div>
              )
            } 
            {
              slider.data.chairman && (
                <div class="leading-[1.1] w-full">
                  <h3 class="text-sm font-semibold">Chairman:</h3>
                  <p class="one-line">{slider.data.chairman}</p>
                </div>
              )
            }  
            {
              slider.data.keynotespeaker && (
                <div class="leading-[1.1] w-full">
                  <h3 class="text-sm font-semibold">Key note speaker:</h3>
                  <p class="one-line">{slider.data.keynotespeaker}</p>
                </div>
              )
            } 
            {
              slider.data.date && (
                <div class="leading-[1.1] w-full">
                  <h3 class="text-sm font-semibold">Time:</h3>
                  <p class="one-line" data-slider-date={ftDate(slider.data.date as Date)}>Loading...</p>
                </div>
              )
            } 
            <Countdown classes="!self-center" date={slider.data.date as Date} />
            <ButtonLink type="link" href={`/sliders/${slider.slug}`} className="bt bt-orange w-full md:w-fit h-fit self-center" title="more details" />
          </div>
        </div>
      </div>
    </section>
  )
}