---
import { Constants } from '~/types';
import ArrowLink from './ArrowLink.astro';
import Broadcast from '../icons/Broadcast.astro';


export interface Props {
	title: string;
  href?: string;
	className: string;
	type?: "link" | "button", 
	ariaLabel?: string;
	withArrow?: boolean;
	live?: boolean;
	btnType?: "button" | "submit"
}

const { title, href, className, type, ariaLabel, withArrow, live, btnType } = Astro.props 
const showLink = type === Constants.LINK ? true : false
---
{
	showLink ? (
		withArrow ? (
			<ArrowLink title={title} />
		) : (
			<a
				href={href}
				class={className}
				rel="prefetch"
				aria-label={ariaLabel || title}>
				<div class="flex justify-center items-center gap-1">
					{title}
					{
						live && <Broadcast className="live" />
					}
				</div>
			</a>
		)
	) : (
		withArrow ? (
			<ArrowLink title={title} />
		) : (
			<button
				type={btnType}
				class={className}
				aria-label={title}>
				{title}
			</button>
		)
	)
}