---
import { Constants } from '~/types';
import ButtonLink from './ButtonLink.astro';
import { showMixlr } from "~/lib";


// const { header, subline, intro } = Astro.props
export interface Props {
  intro?: string;
  header: string;
  subline: string;
  classes?: string;
  showCta: boolean;
  showScrollDown?:boolean; 
  page?: string
}

const { intro, header, subline, classes, showCta, page } = Astro.props
const commonClasses = "absolute z-[1] w-full h-full bg-no-repeat bg-cover bg-center bg-shift"
const className = classes ? `${commonClasses} ${classes}` : `${commonClasses} bg-home-mb md:bg-home-dk`

const heroFontColor = page === Constants.HOME ? "" : "text-white"

const shouldShowMixlr = await showMixlr() 
--- 
<section
  aria-label="hero"
  class:list={[
    "flex",
    "items-center",
    "justify-center",
    heroFontColor,
    "text-center",
    "bg-gray-900",
    "relative",
    className,
    "py-4"
  ]}>
  <div
    class:list={[
      "flex",
      "items-center",
      "justify-center",
      "flex-col",
      "gap-2",
      "h-[308px]",
      "md:h-[236px]",
      "px-4"
    ]}>
		{ intro ? (<p class="text-lg" slot="intro">{intro}</p>) : "" }
		<h1 id="header" class="text-5xl font-bold font-roboto capitalize">{header}</h1>
		<p id="subline" class="md:max-w-xl mx-auto" slot="subline" set:html={subline}></p> 
    {
      showCta && (
      <div aria-label="ctas" class="w-full flex items-center justify-center flex-col sm:flex-row gap-2">
        {
          shouldShowMixlr ? (
            <ButtonLink title="stream live" href="#streamlive" live={true} className="btn w-full sm:w-fit -streamlive" type="link" />
          ) : (
            <ButtonLink title="stream live" href="https://www.youtube.com/@RCNLagos/streams" className="btn btn-orange w-full sm:w-fit" type="link" />
          )
        }
        <ButtonLink title="about" href="/about" className="btn btn-rcn dark:btn-white w-full sm:w-fit" type="link" />
      </div>
      )
    }
  </div>
  <!-- <div class={className}></div> -->
</section>