---
import '../styles/intlTelInput.min.css'

import Layout from "./Layout.astro";
import HeroSection from "~/components/partials/HeroSection.astro"; 

interface Frontmatter {
  title: string;
  description: string;
  image: string;
  date: string;
}

interface Props {
  frontmatter: Frontmatter;
  rawContent: Function;
}

const { frontmatter, rawContent } = Astro.props as Props;
const {
  title,
  description,
  date,
  image
} = frontmatter;


const hasContent = rawContent().length > 10

const identity = title;

const keywords = [identity, description];

---

<Layout title={identity} keywords={keywords}>
  <HeroSection header={title} showCta={false} subline={description} />
  {
    hasContent && (
    <section class="flex flex-col gap-4 center subtitle-adjust">
      {
        image && <img src={image} class="aspect-video w-full" alt={title} />
      }
      {
        date && <p class="opacity-50 text-sm">{new Date(date).toString()}</p>
      }
      <slot />
    </section>
    )  
  }
</Layout>
