---
import Layout from "./Layout.astro";
import { Image } from "astro:assets"
import ButtonLink from "~/components/partials/ButtonLink.astro";


interface Frontmatter {
  acronym: string;
  fullname: string;
  category: string;
  url: string;
  logo: string;
}

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props as Props

const { fullname, acronym, url, logo } = frontmatter

const keywords = [
  acronym,
  fullname
]

---
<Layout title={`${acronym} | APBN`} keywords={keywords}>
  <section role="region" aria-label="post" class="w-full center max-w-lg">
    <div class="flex flex-col items-center justify-center gap-2">
      <div class="center text-center">
        <h1 class="text-2xl md:text-5xl font-semibold">{acronym}</h1>
        <span>{fullname}</span>
      </div>
      <Image
        src={logo}
        width={800}
        height={800}
        class="w-32 h-32 rounded-md"
        alt={fullname}
        format="webp"
      />
    </div>
    <div class="center">
      <article class="overflow-auto gap-3 flex flex-col">
        <slot />
        <div class="w-full text-center flex justify-center items-center gap-2 p-2">
          <ButtonLink title="all members" href="/members" type="link" className="btn btn-orange dark:btn-white text-center inline-block w-full md:w-fit" />
          <ButtonLink title={`${acronym} homepage`} href={url} type="link" className="btn btn-orange dark:btn-white text-center inline-block w-full md:w-fit" />
        </div>
      </article>
      <aside></aside>
    </div>
  </section>
</Layout>