---

import type { iSlider } from "~/types"; 
import Layout from "./Layout.astro";
import HeroSection from "~/components/partials/HeroSection.astro"; 
import ButtonLink from "~/components/partials/ButtonLink.astro";
import { Image } from "astro:assets"


interface Props {
  frontmatter: iSlider;
  rawContent: Function;
}

const { frontmatter, rawContent } = Astro.props as Props;
const {
  image,
  name,
  type,
  body,
  chairman,
  date,
  host,
  keynotespeaker,
  map,
  theme,
  venue,
  website,
  facilitator1,
  facilitator2,
  facilitator3,
  facilitator4
} = frontmatter;


const hasContent = rawContent().length > 10

const identity = name;

const keywords = [
  identity,
  type,
  chairman as string,
  new Date(date as Date).toLocaleString() as string,
  host as string,
  keynotespeaker as string,
  theme as string,
  venue as string,
  website as string
];


---

<Layout title={identity} keywords={keywords}>

  <HeroSection
    header={name}
    showCta={false}
    subline={theme as string}
  />
  <div class="center flex flex-col gap-4">
    {
      image && (
        <div class="flex items-center justify-center">
          <Image
            width={1326}
            height={602}
            src={image}
            class="w-full max-w-3xl"
            alt={name}
            format="webp"
          />
        </div>
      )
    }
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      
    {
      name && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Name:</h4>
          <p>{name}</p>
        </div>
      )
    }  
    {
      theme && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Theme:</h4>
          <p>{theme}</p>
        </div>
      )
    }  
    {
      host && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Host:</h4>
          <p>{host}</p>
        </div>
      )
    } 
    {
      chairman && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Chairman:</h4>
          <p>{chairman}</p>
        </div>
      )
    }  
    {
      keynotespeaker && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Key note speaker:</h4>
          <p>{keynotespeaker}</p>
        </div>
      )
    } 
    {
      facilitator1 && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Facilitator #1:</h4>
          <p>{facilitator1}</p>
        </div>
      )
    } 
    {
      facilitator2 && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Facilitator #2:</h4>
          <p>{facilitator2}</p>
        </div>
      )
    } 
    {
      facilitator3 && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Facilitator #3:</h4>
          <p>{facilitator3}</p>
        </div>
      )
    } 
    {
      facilitator4 && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Facilitator #4:</h4>
          <p>{facilitator4}</p>
        </div>
      )
    } 
    {
      venue && (
        <div class="leading-[1.1]">
          <h4 class="text-sm font-semibold">Venue:</h4>
          <p>{venue}</p>
        </div>
      )
    } 
    {
      map && (
        <div class="leading-[1.1] flex flex-col gap-2">
          <h4 class="text-sm font-semibold">Locate venue:</h4>
          <ButtonLink className="bt bt-orange w-full md:w-fit py-3" href={map} type="link" title="Venue"  />
        </div>
      )
    } 
    </div>
  </div>
  {
    hasContent && (
    <section class="center">
      { body }
    </section>
    )
  }
</Layout>
